[build]
  command = "pip install -r requirements.txt"
  publish = "."

[build.environment]
  PYTHON_VERSION = "3.11"

[deploy]
  startCommand = "uvicorn BACKEND.APP.main:app --host 0.0.0.0 --port $PORT"
